<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${songForm}" method="post" enctype="multipart/form-data">
    <p>Song Name</p>
    <input type="text" th:field="*{name}">
    <p th:if="${#fields.hasErrors()}" th:errors="*{name}"></p>
    <p>Artist</p>
    <input type="text" th:field="*{artist}">
    <p th:if="${#fields.hasErrors()}" th:errors="*{artist}"></p>
    <p>Category</p>
    <input type="text" th:field="*{category}">
    <p th:if="${#fields.hasErrors()}" th:errors="*{category}"></p>
    <p>File</p>
    <input type="file" th:field="*{file}">
    <p></p>
    <button>Save</button>
</form>
</body>
</html>